[package]
name = "m87-server"
version = "0.1.0"
edition = "2021"
authors = ["Phillip Thomas <phillip@make87.com>"]
description = "Server component for the make87 platform"
license = "Apache-2.0"

[[bin]]
name = "m87-server"
path = "src/main.rs"

[dependencies]
# Use workspace dependencies like this:
# tokio = { workspace = true }
# serde = { workspace = true }
# anyhow = { workspace = true }
#
# See root Cargo.toml [workspace.dependencies] for available shared deps
