[package]
name = "m87-server"
version = "0.1.0"
edition = "2021"
authors = ["Phillip Thomas <phillip@make87.com>"]

[dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
bson = { version = "3", features = ["serde_with-3", "chrono-0_4"] }
mongodb = { version = "3" }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
once_cell = "1"
rand = "0.8"
hex = "0.4"
hmac = "0.12"
sha2 = "0.10"
futures = "0.3.31"
base64 = "0.22.1"
chrono = "0.4.42"
axum = { version =  "0.8.6", features = ["ws", "macros"] }
axum-extra = { version = "0.10", features = ["typed-header"] }
tower-http = { version = "0.6.1", features = [
    "cors",
    "trace",
    "timeout",
    "sensitive-headers",
    "compression-full"
] }
reqwest = { version = "0.12.5", default-features = false, features = ["json", "rustls-tls"] }
headers = "0.4.1"
argon2 = "0.5"
rand_core = "0.6"
jsonwebtoken = "9"
uuid = "1.18.1"
rustls = { version = "0.23.33", default-features = false, features = ["ring", "std", "tls12", "log", "logging"] }
tokio-rustls = "0.26"
socket2 = "0.6.1"
async-trait = "0.1.89"
tokio-yamux = "0.3.17"
tokio-stream = { version = "0.1", features = ["net"] }
tokio-util = { version = "0.7", features = ["codec"] }
tokio-rustls-acme = "0.8.0"
rcgen = "0.14.5"
