services:
  m87-server:
    image: ghcr.io/make87/m87-server:latest
    build:
      context: ..
      dockerfile: m87-server/Dockerfile
    container_name: m87-server
    restart: always
    init: true
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - MONGO_DB=m87-server
      - OAUTH_ISSUER=${OAUTH_ISSUER:-https://auth.make87.com/}
      - OAUTH_AUDIENCE=${OAUTH_AUDIENCE:-https://auth.make87.com}
      - PUBLIC_ADDRESS=${PUBLIC_ADDRESS:-localhost}
      - FORWARD_SECRET=${FORWARD_SECRET:-dev_secret_change_me}
      - UNIFIED_PORT=${UNIFIED_PORT:-8084}
      - REST_PORT=${REST_PORT:-8085}
      - STAGING=${STAGING:-1}
      - ADMIN_KEY=${ADMIN_KEY:-}
    depends_on:
      - mongo
    networks:
      - nexus-network
    ports:
      - "443:8084"
      - "8085:8085"
    volumes:
      - backend-data:/data/m87/certs

  mongo:
    image: mongo:7
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - nexus-network

networks:
  nexus-network:
    driver: bridge

volumes:
  mongo-data:
  backend-data:
