services:
  m87-server:
    image: ghcr.io/make87/m87-server:0.0.41
    build:
      context: ..
      dockerfile: m87-server/Dockerfile
    container_name: m87-server
    restart: always
    init: true
    labels:
      # Watchtower: always update to :latest, even if container was started with a versioned tag
      - "com.centurylinklabs.watchtower.enable=true"
      - "com.centurylinklabs.watchtower.image-reference=ghcr.io/make87/m87-server:latest"
    environment:
      - RUST_LOG=${RUST_LOG:-info}
      - MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/admin
      - MONGO_DB=m87-server
      - OAUTH_ISSUER=${OAUTH_ISSUER:-https://auth.make87.com/}
      - OAUTH_AUDIENCE=${OAUTH_AUDIENCE:-https://auth.make87.com}
      - PUBLIC_ADDRESS=${PUBLIC_ADDRESS:-localhost}
      - UNIFIED_PORT=${UNIFIED_PORT:-8084}
      - STAGING=${STAGING:-1}
      - ADMIN_KEY=${ADMIN_KEY:-}
      - CERTIFICATE_PATH=${CERTIFICATE_PATH:-/data/m87/certs/}
    depends_on:
      - mongo
    networks:
      - nexus-network
    ports:
      - "443:8084"
      - "443:8084/udp"
      - "8080:8085/udp"
    volumes:
      - backend-data:/data/m87/certs

  mongo:
    image: mongo:8
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db
    networks:
      - nexus-network
    ports:
      - "127.0.0.1:27017:27017"

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    profiles:
      - auto-update
    restart: always
    environment:
      DOCKER_API_VERSION: 1.44 # support Docker v29
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --cleanup --label-enable --interval 300
    networks:
      - nexus-network

networks:
  nexus-network:
    driver: bridge

volumes:
  mongo-data:
  backend-data:
